$orange-primary: #ff4d01;
$grey-primary: #191919;
$grey-secondary: #605e5d;
$white-primary: #eaeaeb;

$max-width: 1160px;

$lg-min: 900.01px;
$md-max: 900px;
$md-min: 768.01px;
$sm-max: 768px;

$font-family: 'Montserrat', Arial, Helvetica, sans-serif;
